#headdiv {
    width: 400px;
    margin: auto;
    border: 1px solid red;
    display: grid;
    justify-content: center;
    background-color: teal;
    
}
body>h1 {
    text-align: center;
}
#form>input:last-child {
    margin-top: 15px;
    background-color: orange;
    margin-bottom: 20px;
}
#top {
    display: flex;
    justify-content: space-between;
    background-color: teal;
}
#right {
    display: flex;
    /* paddng: 10px; */
}
#right>h2 {
    padding: 10px 10px;
    text-decoration: none;
}
#right>h2>a {
    
    text-decoration: none;
}