#head {
    display: flex;
    justify-content: space-between;
    background-color: yellow;
    height: 100px;
    align-items: center;
}
#opt {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    margin-right: 25px;
}

#cont{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
    width: 60%;
    margin: auto;
    margin-top: 75px;
}
img{
    width: 75%;
}

#ran{
    width: 60%;
    margin: auto;
    margin-top: 50px;
}
h1{
    text-align: center;
}